<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="_3.PL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<_3.PL.Properties.Settings>
   <setting name="tk" serializeAs="String">
    <value />
   </setting>
   <setting name="mk" serializeAs="String">
    <value />
   </setting>
   <setting name="TKdaLogin" serializeAs="String">
    <value />
   </setting>
   <setting name="MKdaLogin" serializeAs="String">
    <value />
   </setting>
   <setting name="IDSale" serializeAs="String">
    <value>00000000-0000-0000-0000-000000000000</value>
   </setting>
   <setting name="check" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="maHoaDon" serializeAs="String">
    <value />
   </setting>
   <setting name="TongTienSauKhiGiam" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TienChuyenKhoan" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="biendoimk" serializeAs="String">
    <value />
   </setting>
  </_3.PL.Properties.Settings>
	</userSettings>
</configuration>